/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */

/*1.1*/

article {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
}

/*1.2*/
.style-me1 {
    color: red;
}

/*1.3*/

#style-me2 {
    color:blue;
}

/*1.4*/

#style-me2.style-me1 {
    color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */

/*2.1*/

.my-descendants-are-styled p {
    background: red;
}

/*2.2*/

.my-children-are-styled > p {
    background: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

.box {
    /*1.1*/
    background: #2a9d8f;

    /*1.2*/
    margin: 20px;
    margin: 20px 10px;
    margin: 10px 20px 30px 40px;

    padding: 20px;
    padding: 20px 10px;
    padding: 10px 20px 30px 40px;

    /*2.1*/
    height: 100px;
    height: 20%;
    height: 10em;
    height:15vh;

    width: 100px;
    width: 25%;
    width: 15em;
    width: 40vw;

    /*2.2*/
    height: 100px !important;
    width: 80% !important;

    /*3.1*/
    border: 2px dashed aquamarine;
    border: 5px dotted #54494B;

    /*3.2*/
    border: 10px solid #54494B;

    /*4.1*/
    box-sizing: border-box;
    box-sizing: content-box;

    /*5.1*/
    height: 50px;

    /*5.2*/
    overflow: hidden;
    overflow: auto;
    overflow: scroll;

    /*6.1*/
    outline: 10px solid #b33951;

    /*7.1*/
    border-radius: 20px;
    border-radius: 1em;

    /*7.2*/
    border-radius: 50%;

    /*7.3*/
    padding: 3em;

    /*8*/
    background: url(".assets/images/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {
    /*1.1*/
    position: absolute;

    /*1.2*/
    top: 0;

    /*1.3*/
    background: #e3d081;

    /*2.4*/
    left: 3em;
    right: 3em;
}

.position-relative {
    /*2.1*/
    position: relative;

    /*2.2*/
    background: #b33951;
}

.position-sticky {
    /*3.1*/
    position: sticky;

    /*3.2*/
    background: #2a9d8f;

    /*3.3*/
    top: 20px;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */

.text-style {
    /*1*/
    color: #54494b;

    /*2*/
    font-size: 20px;
    font-size: 2em;

    /*3*/
    line-height: 1.5;
    line-height: 1em;

    /*4*/
    font-weight: bold;
    font-weight: 800;
    text-align: center;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */

/*1*/
a,
a:link {
    /*1.1*/
    color: #2a9d8f;

    /*1.2*/
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

/*2*/
a:hover
a:active
a:focus {
    /*2.1*/
    color: #1f7569;
    /*2.2*/
    text-decoration: none;
}

/*3*/
a:visited {
    /*3.1*/
    color: #43726b;
    /*3.2*/
    font-style: italic;
}

/* VI. calc() */
/* Put styles for questions 1-3 here */

/*1*/
.calc-style {
    width: 100vw;

    /*1.1*/
    background: #e3d081;

    /*1.2*/
    width: calc(100vw - 100px);
}

/*2*/
.fixed-width-col {
    display: inline-block;
    width: 350px;
}

/*3*/
.fluid-col {
    display: inline-block;

    /*3.1*/
    width: calc(100% - 360px);
}

